body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main{
	flex: 1 0 auto;
}
h1{
	text-transform: uppercase;
}
h2{
	text-transform: uppercase;
}
h3{
	text-transform: uppercase;
}
footer{
	text-transform: uppercase;
}