body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main{
	flex: 1 0 auto;
}
h1{
	text-transform: uppercase;
}
h2{
	text-transform: uppercase;
}
h3{
	text-transform: uppercase;
}
footer{
	height: auto;
	padding-top: 15px;
	padding-bottom: 20px;
	background-color: #333;
	color: #fff;
	text-transform: uppercase;
}
/* Customizando botão de envio de imagem */
input[type="file"]::-webkit-file-upload-button{
	width: auto;
	height: 30px;
	border-radius: 4px;
	border: 0px;
	box-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, .4);
	color: #fff;
	background-color: rgba(50, 110, 180, 10);
}
.caixa-imagem{
	width: 100%;
}
/* Fim da customização de botão de imagem */
.mostruario-principal{
	width: 220px;
	height: 180px;
}
/* Botão de avanço ao topo da tela */
.rolar-topo{
	z-index: 99;
	position: fixed;
		right: 30px;
		bottom: 30px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	padding-top: 8px;
	padding-left: 8px;
	background-color: rgba(255, 20, 20, 1);
	box-shadow: 1.5px 1.5px 1.5px rgba(30, 30, 30, .6);
}
.rolar-topo a{
	font-size: 18pt;
	color: #fff;
}
.adm{
	margin-top: 60px;
}
.input-field label {
	color: #000;
}
.input-field input[type=text]:focus + label {
	color: #000;
}
.input-field input[type=text]:focus {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}
.input-field .prefix.active {
	color: #000;
}